* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: Roboto;
    color: #626262;
}
/* Top meny start */
.top-nav {
  border: 2px solid #d2d2d2;
}
.container {
    width: 100%;
    margin: auto;
    padding: 0 14rem;
}
.top-meny {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.top-meny i {
    color:#2baaec;
}
.iconer i {
    color: #2baaec;
    padding: .8rem;
}
.iconer i:hover{
    color: #25e6c8;
}
/* Top meny slut */

/* Huvud-meny start*/
.huvud-meny {
    font-family: roboto slap;
    padding: 2rem 14rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.huvud-meny i {
  color: #2BAAEC;
  display: none;
  font-size: 3rem;
  cursor: pointer;
}
.link {
    font-family: Roboto slab;
    font-weight:lighter;
    padding: 1rem;
    text-decoration: none;
    color: #363636;
}
/* Huvud meny slut */

/* Showcase start */
#showcase {
    background-color: #dedede;
    width: 100%;
    height: 697px;
}
#showcase .container {
    border: none;
    display: flex;
    align-items: center;
}
#showcase .container img {
    margin: 1rem 6rem;
  }
.text {
    width: 100%;
    color: #363636;
  }
.text h1 {
    font-family: Roboto slab;
    font-size: 3.2rem;
    letter-spacing: .1em;
    font-weight: normal;
  }
.text p {
    width: 80%;
    color: #626262;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-weight: normal;
  }
  .btn {
    background-color: transparent;
    cursor: pointer;
  }
  .btn-primary {
    margin-top: 2rem;
    padding: 1rem;
    width: 200px;
    border: none;
    border-radius: .6rem;
    background-color: #25e6c8;
    color: #fff;
    font-weight: bolder;
  }
  /* Showcase slut */


  /* Om oss / About us start*/
  #showcase-2 {
    width: 100%;
    height: 848px;
  }
  .bild-2 {
    margin: 1rem 10rem;
    height: 800px;
  }
  #showcase .text p {
   width: 100%;
  }
  .content-2 {
    width: 80%;
    padding: 10rem;
  }
  .text h2 {
    width: 80%;
    font-family: Roboto slab;
    font-weight: normal;
    font-size: 2.5rem;
  }
  .text span {
    color: #2baaec;
  }
  #showcase-2 .container {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
  }
  #showcase-2 .text p {
    width: 110%;
  }
  .statistik h2 {
    font-size: 2.8rem;
    font-weight: normal;
    color: #2baaec;
  }
  .statistik p {
    font-family: Roboto slab;
    color: #363636;
    font-size: 1rem;
    font-weight:500;
    display: flex;
    justify-content: space-around;
    padding-top: .2rem;
  }
  .ruta {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .statistik {
    display: flex;
    flex-direction: column;
    padding-right: 6rem;
}
  /* Om oss/ About us slut */

  /* Services start */
  .container-3 {
    width: 100%;
    margin: auto;
    background-color: #f7f7f7;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .container-3 h1 {
    font-family: Roboto slab;
    font-weight: normal;
    color: #363636;
  }
  #main-nav {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  #main-nav h1 {
    color: #363636;
    font-family: Roboto slab;
    font-weight: normal;
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Start kort */
  .container-4 {
    width: 100%;
    margin: auto;
    background-color: #f7f7f7;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  #nummer2 {
    padding-bottom: 6rem;
  }
  .container-4 h3 {
    font-family: Roboto slab;
    font-weight: normal;
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .container-4 p {
    width: 70%;
    font-family: Roboto;
    font-weight: normal;
    font-size: 1rem;
  }
  .text-2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
  .card {
    width: 450px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-direction:column-reverse;
    align-items: center;
    margin-right: 2rem;
  }
  .circle {
    height: 130px;
    width: 130px;
    background-color: #25e6c8;
    border-radius: 50%;
    position: relative;
    margin-top: 4rem;
    cursor: pointer;
  }
  .circle:hover{
    background-color: #2BAAEC;
  }
  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Avslut kort */

  /* Start appointment */

  .appointment-nav {
    background-color: #2BAAEC;
  }
  .overlay {
    background-color: rgba(255, 255, 255, 0.199);
  }
  .appointment-nav h4 {
    color: #fff;
  }
  .container-5 {
    width: 100%;
    margin: auto;
    padding: 5rem 0 5rem 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
  } 
  .container-5 h4 {
    font-family: Roboto slab;
    font-size: 1.6rem;
    font-weight: normal;
  }
  .btn-primary-2 {
    background-color: #fff;
    padding: 1rem;
    width: 240px;
    border: none;
    border-radius: .5rem;
    color: #2baaec;
    font-weight: bolder;
  }
  /* Slut appointment */

  /* Start footer */
  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display:flex;
    justify-content: center;
    background-color: #2BAAEC;
    color: rgba(255, 255, 255, 0.61);
    font-family: Roboto;
    font-size: 1rem;
  }
  /* Slut footer */

@media (max-width: 1660px) {
  .bild-1 {
    padding-top: 2rem;
    height: 500px;
  }
  .bild-2 {
    position: absolute;
    height: 500px; 
  }
  #showcase {
    background-color: #dedede;
    width: 100%;
    height: 877px;
}
  #showcase-2 {
    width: 100%;
    height: 848px;
}
  #showcase .container {
    flex-direction: column;
}
  #showcase-2 .container {
    flex-direction: column;
    align-items: center;
  }
  .text {
    text-align: center;
  }
  .text h2 {
    width: 100%;
  }
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .content-2 {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .ruta {
    padding-left: 10rem;
  }
}
@media (max-width: 1500px) {
  .card {
    width: 350px;
    height: 440px;
  }
  #showcase-2 {
    width: 100%;
    height: 748px;
  }
}
@media (max-width: 1290px) { 
  #showcase {
    width: 100%;
    height: 427px;
}
  #showcase-2 {
    width: 100%;
    height: 588px;
}
.content {
  width: 120%;
  margin-top: 3.5rem;
} 
.content-2 {
  margin-top: -8rem;
  width: 100%;
} 
.btn-primary {
  height: 60px;
  width: 280px;
  font-size: 1.4rem;
  font-weight: normal;
  }
.huvud-meny {
  padding: 2rem 4rem;
 }
.top-meny {
  margin: 0 -10rem;
 }
.bild-1 {
  display: none;
  }
.bild-2 {
  display: none;
  }
.statistik p {
  text-align: center;
  }
.card {
  width: 280px;
  height: 460px;
  }
}
@media (max-width: 1040px){
.ruta {
  display: none;
}
#showcase-2 {
  height: 488px;
}
.card {
  width: 240px;
}
.circle {
  height: 100px;
  width: 100px;
  }
}

@media (max-width: 991.98px) {
#showcase {
  width: 100%;
  height: 340px;
}
#showcase-2 {
  width: 100%;
  height: 438px;
}
.huvud-meny i {
  display: inline-block;
  margin-right: .7rem;
}
.bild {
  display: none;
}
.bild-2 {
  display: none;
}
.huvud-meny .link {
  display: none;
}
.container-5 {
  flex-direction: column;
}
.container-5 h4 {
  padding-bottom: 3rem;
}
.btn-primary-2 {
  height: 60px;
  width: 280px;
  font-size: 1.4rem;
  font-weight: normal;
  align-items: center;
}
.text h1 {
  font-size: 2rem;
}
.text h2 {
  width: 100%;
  font-size: 2rem;
}
#showcase-2 .text p {
  width: 100%;
}
.text p {
  width: 100%;
  font-size: 1rem;
}
}
@media (max-width: 897.98px) {
.container-4 {
  flex-direction: column;
  align-items: center;
}
.content {
  width: 140%;
  margin-top: 3.5rem;
} 
.content-2 {
  margin-top: -8rem;
  width: 100%;
} 
.card {
  width: 440px;
  height: 520px;
  margin-bottom: 2rem;
}
.circle {
  height: 200px;
  width: 200px;
}
.image {
  width: 100px;
  }
}
@media (max-width: 833.98px){
  .text p {
    display: none;
  }
  .text hr {
    display: none;
  }
  #showcase-2 .text p {
    display: none;
  }
  #showcase-2 {
    height: 260px;
}
}
@media (max-width: 710.98px) {
  #showcase {
    height: 387px;
}
  .iconer i {
    display: none;
  }
  .huvud-meny {
   padding: 2rem 4rem;
}
.top-nav {
  border: none;
}
.top-meny p {
 padding-left: 7rem;
}
.huvud-meny .link {
  display: none;
}
}
@media (max-width: 643.98px) {
  #showcase {
    height: 340px;
}
  #showcase-2 {
    height: 340px;
}
  .text h1 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  .container-3 {
    background-color: #2BAAEC;
    height: 80px;
  }
  .service hr {
    display: none;
  }
  .service h1 {
    margin-top: -3.5rem;
    font-size: 1.5rem;
    color: #fff;
  }
  .card {
    background-color:#f7f7f7;
    width: 440px;
    height: 520px;
  }
  .top-meny p {
    display: none;
    }
}

@media (max-width: 624.98px) {
  #showcase {
    height: 310px;
}
  #showcase-2 {
  height: 240px;
}
  .text h1 {
    text-align: center;
    margin-left: -6rem;
    width: 180%;
    font-size: 2rem;
  }
  .btn-primary {
    height: 60px;
    width: 280px;
    font-size: 1.4rem;
    font-weight: normal;
   }
  .text h2 {
    text-align: center;
    margin-left: -6rem;
    width: 180%;
    font-size: 2rem;
  }
@media (max-width: 560.98px){
  #showcase {
    height: 230px;
  }
  #showcase-2 {
    height: 180px;
  }
  .appointment-nav h4 {
    color: #fff;
    }
  .container-5 {
    width: 100%;
    margin: auto;
    padding: 5rem 0 5rem 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    } 
  .container-5 h4 {
    font-family: Roboto slab;
    font-size: 1.2rem;
    font-weight: normal;
    }
  .btn-primary-2 {
    height: 60px;
    width: 280px;
    font-size: 1.4rem;
    font-weight: normal;
    align-items: center;
     }
   .text h1 {
    text-align: center;
    margin-left: -6rem;
    width: 180%;
    font-size: 1.4rem;
  }
  .text h2 {
    text-align: center;
    margin-left: -6rem;
    width: 180%;
    font-size: 1.4rem;
  }
  .card {
    background-color: #fff;
    width: 260px;
    height: 420px;
    }
    .circle {
      height: 100px;
      width: 100px;
    }
    .image {
     width: 40px;
    }
}

@media (max-width: 554px){
  .container {
    width: 100%;
  }
  .container-3 {
    width: 100%;
  }
  .container-4 {
    width: 100%;
  }
.huvud-meny img {
  width: 180px;  
}
.huvud-meny {
  justify-content: space-evenly;
}
#showcase {
  height: 230px;
  width: 105%;
  overflow: hidden;
}
#showcase-2 {
height: 180px;
width: 105%;
overflow: hidden;
}
.container-3 {
  width: 105%;
}
.container-4 {
  width: 105%;
}
.appointment-nav {
  width: 105%;
}
.footer {
  width: 105%;
}
.text h1 {
  margin-left: -10rem;
  width: 300px;
}
.text h2 {
  width: 300px;
}
}}